.datatable .col {
    cursor: pointer;
    background-color:rgb(0, 113, 128);
    color: white;
}

.datatable .col .pointer:after {
    font-size: 80%;
    content: "";
    margin-right: 18px;
}

.datatable .col .pointer:hover:after {
    font-size: 80%;
    content: "🔻";
    margin-right: 0;
}